/*
	Theme Name:   PixieHuge Child
	Theme URI:    http://themes.pixiesquad.com
	Description:  Child theme for PixieHuge theme
	Author:       PixieSquad
	Author URI:   http://pixiesquad.com
	Template:     pixiehuge
	Version:      1.0.0
    License: PixieSquad Themes. All rights reserved.
    License URI: https://themeforest.net/user/pixiesquad
    Tags: sticky-post, featured-images, editor-style, custom-colors, custom-header, custom-background, right-sidebar, translation-ready, theme-options
	Text Domain:  pixiehuge-child
*/
:root {
  --text-background: #333333;
  --text-color: #eaeaea;
  --text-color-primary: #008c8c;
  --text-color-secondary: #004a4a;
  --text-hover: #008c8c;
}

.section-header article.bottombar {
  background-color: transparent !important;
}
header > nav > .container > div.logo:not(.bg) > a.logo-image {
  background-size: cover !important;
}
header > nav {
  background-color: var(--text-background) !important;
}
header div.topbar {
  background-color: #121212 !important;
}
header div.topbar a {
  color: var(--text-color) !important;
}
header div.topbar a:hover {
  color: var(--text-hover) !important;
}
header div.topbar a > #icon-discord path {
  fill: var(--text-color) !important;
  transition: 200ms ease-in-out !important;
}
header div.topbar a:hover > #icon-discord path {
  fill: var(--text-hover) !important;
}
header > nav > .container > ul > li > a > span.title {
  text-shadow: none !important;
  color: var(--text-color) !important;
  margin-bottom: 0px !important;
}
header > nav > .container > ul > li:hover span.title {
  color: var(--text-hover) !important;
}
section#hero article.content h4 {
  color: var(--text-color) !important;
}
section#hero article.content h3 {
  color: var(--text-color-primary) !important;
}
section#hero {
  min-height: none !important;
  height: auto !important;
  background-position: center !important;
  border-bottom: 1px solid #2b2b39 !important;
}
.btn.btn-blue {
  background-color: var(--text-color-primary) !important;
  transition: 500ms ease-in-out !important;
}
.btn.btn-blue:hover {
  background-color: var(--text-color-secondary) !important;
}
section#sponsors span.leftArrow svg path,
section#sponsors span.rightArrow svg path {
  transition: 200ms ease-in-out !important;
}
section#sponsors span.leftArrow svg:hover path,
section#sponsors span.rightArrow svg:hover path {
  fill: var(--text-color-primary) !important;
}
section#sponsors {
  background-color: transparent !important;
  height: auto !important;
  border-bottom: 0px !important;
  padding-top: 70px !important;
  padding-bottom: 40px !important;
}
section.firstWithBg {
  padding-top: 70px !important;
}
.section-header article.topbar h3 svg path {
  fill: var(--text-color-primary) !important;
}
.section-header article.topbar {
  background: var(--text-color-secondary) !important;
  border-bottom: 6px solid var(--text-color-primary) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  height: auto !important;
  border-radius: 6px !important;
}
section#news .content .news-box a.category {
  background-color: var(--text-color-primary) !important;
}
section#news .content .news-box > .details > span {
  color: var(--text-color-primary) !important;
}
.section-header article.bottombar ul li.active a {
  color: var(--text-color-primary) !important;
  border-bottom: 2px solid var(--text-color-primary) !important;
  transition: 200ms ease-in-out !important;
}
.section-header article.bottombar ul li:hover a {
  color: var(--text-color) !important;
  border-bottom: 2px solid var(--text-color) !important;
}
.section-header article.bottombar ul li > a {
  transition: 200ms ease-in-out !important;
}
section#streams
  div.container
  div.content
  div.list
  article.streamBox:not(.large)
  .details.on-hover
  > a.cta-btn {
  background-color: var(--text-color-primary) !important;
}
footer .container.top article.box h4 svg path {
  fill: var(--text-color-primary) !important;
}
footer .container.top article.box ul li > span.date {
  color: var(--text-color-primary) !important;
}
footer .container.top article.box ul li > a > span.email {
  color: var(--text-color-primary) !important;
}
footer .container.top article.box.aboutUs a {
  border: 2px solid var(--text-color-primary) !important;
  color: var(--text-color-primary) !important;
  transition: 200ms ease-in-out !important;
}
footer .container.top article.box.aboutUs a:hover {
  border: 2px solid var(--text-color) !important;
  color: var(--text-color) !important;
}
footer .bottom .container > article.left h5 {
  color: var(--text-color-primary) !important;
}
footer .bottom .container > article.left a {
  color: var(--text-color) !important;
}
footer .bottom .container > article.left a:hover {
  color: var(--text-color-primary) !important;
}
footer #icon-discord {
}
